<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>PasswordResetSV</servlet-name>
        <servlet-class>controller.PasswordResetSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeLoggingPasswordSV</servlet-name>
        <servlet-class>controller.ChangeLoggingPasswordSV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswordResetSV</servlet-name>
        <url-pattern>/passwordreset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeLoggingPasswordSV</servlet-name>
        <url-pattern>/changeloggingpassword</url-pattern>
    </servlet-mapping>
</web-app>

